---
name: Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')

      - name: Set up Python 3.x
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install Ansible
        run: pip install ansible-core

      - name: Import role to Ansible Galaxy
        run: >
          ansible-galaxy role import
          --api-key "${{ secrets.galaxy_api_key }}"
          --branch "${GITHUB_REF_NAME}"
          "$(echo ${{ github.repository }} | cut -d/ -f1)"
          "$(echo ${{ github.repository }} | cut -d/ -f2)"
