---
name: Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')

      - name: galaxy
        uses: ansible/ansible-publish-action@v1
        with:
          galaxy_api_key: ${{ secrets.galaxy_api_key }}
